---
# tasks/main.yaml - Monitoring agent installation tasks
# Installs Prometheus Node Exporter for system metrics collection

- name: Create node_exporter user
  ansible.builtin.user:
    name: "{{ node_exporter_user }}"
    system: true
    shell: /sbin/nologin
    create_home: false

- name: Download node_exporter
  ansible.builtin.get_url:
    url: "{{ node_exporter_download_url }}"
    dest: /tmp/node_exporter.tar.gz
    mode: '0644'
  register: download_result

- name: Extract node_exporter
  ansible.builtin.unarchive:
    src: /tmp/node_exporter.tar.gz
    dest: /tmp
    remote_src: true
  when: download_result.changed

- name: Install node_exporter binary
  ansible.builtin.copy:
    src: "/tmp/node_exporter-{{ node_exporter_version }}.linux-amd64/node_exporter"
    dest: /usr/local/bin/node_exporter
    owner: root
    group: root
    mode: '0755'
    remote_src: true
  notify: Restart node_exporter

- name: Deploy systemd service file
  ansible.builtin.template:
    src: node_exporter.service.j2
    dest: /etc/systemd/system/node_exporter.service
    owner: root
    group: root
    mode: '0644'
  notify: Restart node_exporter

- name: Enable and start node_exporter
  ansible.builtin.systemd:
    name: node_exporter
    state: started
    enabled: true
    daemon_reload: true

- name: Open firewall port for node_exporter
  ansible.posix.firewalld:
    port: "{{ node_exporter_listen_port }}/tcp"
    permanent: true
    state: enabled
    immediate: true
  when: node_exporter_firewall_enabled
  ignore_errors: true  # firewalld may not be installed
