[Unit]
Description=Prometheus Node Exporter
Documentation=https://prometheus.io/docs/guides/node-exporter/
Wants=network-online.target
After=network-online.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
Type=simple
ExecStart=/usr/local/bin/node_exporter \
    --web.listen-address={{ node_exporter_listen_address }}:{{ node_exporter_listen_port }} \
{% for collector in node_exporter_enabled_collectors %}
    --collector.{{ collector }} \
{% endfor %}
{% for collector in node_exporter_disabled_collectors %}
    --no-collector.{{ collector }} \
{% endfor %}

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
